<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="space-around center">
    <picture>
        <source media='(min-width:0px)' srcset="assets/img/eihwaz-rune.jpg">
        <img mat-card-image src="" alt="Eihwaz Web">
    </picture>
    <h1>Welcome to Eihwaz Web!</h1>
    <h3>Angular 10</h3>
</div>